<div id="" class="preview-card websitepreview" style="padding-top:4px;  padding-bottom: 4px;">
  <a href="<%= @url %>" target="blank" style="text-decoration: none;">
  <table width="580" class="border-outer" border="0" cellpadding="0" cellspacing="0" valign="top" style="border-collapse:separate; border-radius:4px; border: 1px solid #f5ffff">
    <tbody>
      <tr>
        <td class="mso-border-outer" valign="top" style="border-collapse:collapse; border-radius:4px">
          <table class="border-middle" border="0" cellpadding="0" cellspacing="0" valign="top" style="border-collapse:separate; border-radius:3px; border:1px solid #d5ecff; margin: 0px; padding: 0px;">
            <tbody>
              <tr>
                <td class="mso-border-middle" valign="top" style="border-collapse:collapse; border-radius:3px">
                  <table class="border-inner" border="0" cellpadding="0" cellspacing="0" valign="top" style="border-collapse:separate; border-radius:2px; border:1px solid #99b0e1; margin: 0px; padding: 0px;">
                    <tbody>
                      <tr>
                        <td class="mso-border-inner" valign="top" style="border-collapse:collapse; border-radius:2px">
                          <table class="inner  palm-one-whole" width="574" border="0" cellpadding="0" cellspacing="0" valign="top" style="border-collapse:separate; background-color:white; border-radius:2px; margin: 0px; padding: 0px;">
                            <tbody>
                              <tr>
                                <td class="innercell" valign="top" style="position:relative; border-collapse:collapse; padding:10px 10px 2px; ">
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" valign="top" style="border-collapse:separate; margin-bottom: 0px;">
                                    <tbody>
                                      <tr class="">


                                        <%= yield %> 

 
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td valign="bottom" style="line-height:11px; font-family:'proxima-nova', 'Avenir Next', 'Segoe UI', 'Calibri', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; color:#999; padding-left: 10px; padding-bottom: 10px;" class="source  webfont-sans">
                                    Yahoo! Finance Web Services
                                </td>
                                <td align="right" valign="bottom" style="padding-right:10px; padding-bottom: 10px;">
                                  <a href="https://mixmax.com/r/QTADmRERR23B68vxC" style="display:block;  vertical-align:top;  font-size:0; text-decoration: none;" target="_blank">
                                    <img src="https://emailapps.mixmax.com/img/badge_mixmax.png" align="top" height="20" style="display:block;" alt="Mixmax" border="0">
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</a>
</div>